project_name = "cal"
environment  = "prod"
aws_region   = "us-west-2"
vpc_cidr     = "10.0.0.0/16"
azs = ["us-west-2a", "us-west-2b", "us-west-2c"]
public_subnet_cidrs   = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
private_subnet_cidrs  = ["10.0.11.0/24", "10.0.12.0/24", "10.0.13.0/24"]
database_subnet_cidrs = ["10.0.21.0/24", "10.0.22.0/24", "10.0.23.0/24"]
single_nat_gateway      = false
enable_vpc_endpoints    = true
flow_log_traffic_type   = "ALL"
flow_log_retention_days = 90
app_port              = 8080
bastion_allowed_cidrs = ["IP_VPN_CORPORATIVA/32"]
